<!DOCTYPE html>
<html lang="vi">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sporty Webby Bookfield</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
			rel="stylesheet" />
		<script src="https://cdn.tailwindcss.com"></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/nav_bar_homescreen.css') }}" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/bookfield_info.css') }}" />
	</head>
	<body>
		<!-- nav bar -->
		<div class="navbar_ngang">
			<!-- logo + text -->
			<div class="logo-section">
				<img
					class="logo"
					src="{{ url_for('static', filename='images/icon_sports_soccer.png') }}" />
				<div class="logo-text">
					Sporty <br />
					Webby
				</div>
			</div>
			<!-- search -->
			<div class="search-container">
				<div class="search-box">
					<img
						class="search-icon"
						src="{{ url_for('static', filename='images/icon_search.png') }}" />
					<input type="text" class="search-input" placeholder="Search" />
					<button class="clear-btn">✖</button>
				</div>
				<script>
					const searchInput = document.querySelector(".search-input");
					const clearBtn = document.querySelector(".clear-btn");

					clearBtn.addEventListener("click", () => {
						searchInput.value = "";
						searchInput.focus();
					});
				</script>
			</div>
			<!-- Navigation Links -->
			<div class="nav-links">
				<a href="#" class="nav-item" style="width: 90px">Trang chủ</a>
				<a href="#" class="nav-item" style="width: 60px">Bạn bè</a>
				<a href="#" class="nav-item">Blog</a>
			</div>
			<!-- Profile Section -->
			<div class="profile-section">
				<div class="notification-icons">
					<!-- Bell icon for Notifications -->
					<div class="bell-icon">
						<img
							src="{{ url_for('static', filename='images/icon_noti.png') }}" />
					</div>
					<!-- Message box icon -->
					<div class="message-icon">
						<img
							src="{{ url_for('static', filename='images/icon_chat.png') }}" />
					</div>
				</div>
				<!-- Profile Info -->
				<div class="profile-info">
					<img
						class="profile-avatar"
						src="{{ url_for('static', filename='images/avatar.png') }}" />
					<div class="profile-name">
						<p>Trần Văn A</p>
						<p class="status">Trực tuyến</p>
					</div>
				</div>
				<!-- Arrow icon to toggle dropdown menu -->
				<div class="dropdown-arrow" onclick="toggleDropdown()">
					<img
						src="{{ url_for('static', filename='images/icon_arrow.png') }}" />
				</div>
				<!-- Dropdown menu -->
				<div class="dropdown-menu" id="dropdownMenu">
					<ul>
						<li><a href="#">Thông tin cá nhân</a></li>
						<li><a href="#">Lịch sử hoạt động</a></li>
						<li><a href="#">Bảo mật</a></li>
						<li><a href="#">Cài đặt</a></li>
						<li><a href="#">Năng suất</a></li>
					</ul>
				</div>
				<script>
					function toggleDropdown() {
						var dropdownMenu = document.getElementById("dropdownMenu");
						dropdownMenu.style.display =
							dropdownMenu.style.display === "block" ? "none" : "block";
					}
				</script>
			</div>
		</div>
		<div class="main-wrapper">
			<!-- side bar -->
			<div class="sidebar">
				<div
					class="menu-item"
					onclick="window.location.href = 'user_dashboard'">
					<div class="icon">
						<img
							src="{{ url_for('static', filename='images/icon_dashboard.png') }}" />
					</div>
					<div class="text">Bảng điều khiển</div>
				</div>
				<div
					class="menu-item"
					onclick="window.location.href = 'user_bookfield'"
					style="background-color: rgb(14, 1, 87)">
					<div class="icon">
						<img
							src="{{ url_for('static', filename='images/icon_book_field.png') }}" />
					</div>
					<div class="text">Đặt sân</div>
				</div>
				<div
					class="menu-item"
					onclick="window.location.href = 'booking_history'">
					<div class="icon">
						<img
							src="{{ url_for('static', filename='images/icon_history_book_field.png') }}"
							class="abc" />
					</div>
					<div class="text">Lịch sử đặt sân</div>
				</div>
				<div class="menu-item" onclick="window.location.href = 'deposit'">
					<div class="icon">
						<img
							src="{{ url_for('static', filename='images/icon_deposit.png') }}" />
					</div>
					<div class="text">Nạp tiền</div>
				</div>
				<div
					class="menu-item"
					onclick="window.location.href = 'transaction_history'">
					<div class="icon">
						<img
							src="{{ url_for('static', filename='images/icon_payment_history.png') }}" />
					</div>
					<div class="text">Lịch sử giao dịch</div>
				</div>
			</div>

			<div class="gallery">
				<div class="thumbnail-container">
					<img
						src="{{ url_for('static', filename='images/sanbanh1.png') }}"
						onclick="changeImage(this)"
						alt="thumb1" />
					<img
						src="{{ url_for('static', filename='images/sanbanh2.png') }}"
						onclick="changeImage(this)"
						alt="thumb2" />
					<img
						src="{{ url_for('static', filename='images/sanbanh3.png') }}"
						onclick="changeImage(this)"
						alt="thumb3" />
					<img
						src="{{ url_for('static', filename='images/sanbanh4.png') }}"
						onclick="changeImage(this)"
						alt="thumb4" />
				</div>
				<div class="main-image">
					<img
						id="main-display"
						src="{{ url_for('static', filename='images/sanbanh1.png') }}"
						alt="main" />
				</div>
			</div>
			<div class="club-info">
				<h1 style="font-size: 30px">Clb Sân Bóng Đá Mini 77</h1>
				<p class="price">125.000 VND / giờ</p>
				<p class="description">Mã sân: SS001</p>
				<div class="rating">
					<img
						src="{{ url_for('static', filename='images/onestar.png') }}"
						alt="Full Star" />
					<img
						src="{{ url_for('static', filename='images/onestar.png') }}"
						alt="Full Star" />
					<img
						src="{{ url_for('static', filename='images/onestar.png') }}"
						alt="Full Star" />
					<img
						src="{{ url_for('static', filename='images/onestar.png') }}"
						alt="Full Star" />
					<img
						src="{{ url_for('static', filename='images/onestar.png') }}"
						alt="Half Star" />
					<span>154 Lượt đánh giá</span>
				</div>
				<p class="description">
					Sân bóng mini chất lượng cao với không gian rộng rãi, thoáng mát, phù
					hợp cho các trận đấu giao hữu hoặc luyện tập. Vị trí thuận lợi, dễ tìm
					kiếm, nằm ngay tại trung tâm quận Gò Vấp. Dịch vụ chu đáo, trang bị
					đầy đủ tiện nghi đảm bảo mang lại trải nghiệm tốt nhất cho khách hàng.
				</p>
				<ul class="contact-info">
					<li>Chủ sân: Dương Anh L</li>
					<li>Số điện thoại: 0912345678</li>
					<li>Địa chỉ: 152 Nguyễn Oanh, Phường 7, Gò Vấp, Hồ Chí Minh</li>
				</ul>
				<div class="booking">
					<label>Thời gian:</label>
					<button>1 tiếng 30 phút</button>
					<button class="book-now" onclick="showNotification()">Đặt sân</button>
				</div>
				<div class="social-share">
					<a href="#">
						<img
							src="{{ url_for('static', filename='images/facebook.png') }}"
							alt="Facebook" />
					</a>
					<a href="#">
						<img
							src="{{ url_for('static', filename='images/twitter.png') }}"
							alt="Twitter" />
					</a>
					<a href="#">
						<img
							src="{{ url_for('static', filename='images/linkedin.png') }}"
							alt="LinkedIn" />
					</a>
				</div>
			</div>
			<div class="promotion">
				<h1>
					<img
						src="{{ url_for('static', filename='images/lugia.png') }}"
						alt="Sân Lữ Gia" />
				</h1>
				<img
					class="dibong"
					src="{{ url_for('static', filename='images/dibong.png') }}"
					alt="Đá bóng" />
				<img
					class="discount"
					src="{{ url_for('static', filename='images/30%.png') }}"
					alt="30%" />
			</div>
		</div>
		<script>
			const filterButtons = document.querySelectorAll(".filter-btn");

			filterButtons.forEach((button) => {
				button.addEventListener("click", () => {
					// Loại bỏ lớp active khỏi tất cả các nút
					filterButtons.forEach((btn) => btn.classList.remove("active"));
					// Thêm lớp active cho nút được bấm
					button.classList.add("active");
				});
			});
		</script>
		<script>
			document.querySelectorAll(".filter-btn").forEach((button) => {
				button.addEventListener("click", function () {
					document
						.querySelectorAll(".filter-btn")
						.forEach((btn) => btn.classList.remove("active"));
					this.classList.add("active");
					const selectedSport = this.getAttribute("data-sport");
					const selectedImgs = this.getAttribute("data-img").split(",");
					document
						.querySelectorAll(".venue-card .venue-image")
						.forEach((img, index) => {
							img.src = `{{ url_for('static', filename='images/') }}${selectedImgs[index]}`;
						});
				});
			});
		</script>

		<script>
			function changeImage(element) {
				const mainImage = document.getElementById("main-display");
				mainImage.src = element.src;
				mainImage.alt = element.alt;
			}
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const bookNowBtn = document.querySelector(".book-now");
				bookNowBtn.addEventListener("click", showNotification);
			});

			function showNotification() {
				const notification = document.getElementById("notification");
				if (notification) {
					notification.style.display = "block";
					setTimeout(() => {
						notification.style.display = "none";
					}, 3000);
				} else {
					console.error("Notification element not found!");
				}
			}
		</script>
		<div class="notification" id="notification">
			Sân đã được đặt thành công!
		</div>
	</body>
</html>
