<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Field Booking Interface</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- Main Content -->
    <!-- Top Section -->
    <div class="flex flex-col gap-4">
      <div class="flex rounded-lg shadow-md bg-white" style="height: 300px">
        <!-- Field Image -->
        <div class="flex" style="width: 450px">
          <img
            src="{{ url_for('static', filename='images/administrator/football_field.png') }}"
            alt="Soccer Field"
            class="w-full rounded-lg shadow-md"
          />
        </div>
        <!-- Field Management -->
        <div class="flex-1 p-6">
          <h2 class="text-lg font-semibold mb-4">Quản lý sân bóng</h2>
          <ul>
            <li class="flex justify-between py-2 border-b">
              <span>Sân bóng đá trong nhà Bắc Sài Gòn</span>
              <span class="font-bold">1124</span>
            </li>
            <li class="flex justify-between py-2 border-b">
              <span>Sân Bóng Chảo lửa</span>
              <span class="font-bold">856</span>
            </li>
            <li class="flex justify-between py-2">
              <span>Sân bóng khang an</span>
              <span class="font-bold">523</span>
            </li>
          </ul>
          <button
            class="mt-4 w-48 bg-green-500 text-white py-2 rounded hover:bg-green-600 mx-auto block"
          >
            Đi tới
          </button>
        </div>
      </div>
      <div class="flex flex-row gap-4">
        <!-- Left Section -->
        <div class="flex flex-col w-1/2 gap-4 bg-white">
          <!-- -->
          <div
            class="p-4 rounded-lg shadow-md bg-white"
            style="height: 250px"
          ></div>

          <!-- -->
          <div
            class="p-4 rounded-lg shadow-md bg-white"
            style="height: 300px"
          ></div>
        </div>

        <!-- Right Section -->
        <div class="flex flex-col w-1/2 gap-4 bg-white">
          <!-- -->
          <div
            class="p-4 rounded-lg shadow-md bg-white"
            style="height: 150px"
          ></div>

          <!-- -->
          <div
            class="p-4 rounded-lg shadow-md bg-white"
            style="height: 400px"
          ></div>
        </div>
      </div>
    </div>
  </body>
</html>
