<!-- Sidebar -->
<div class="w-52 bg-gray-900 text-white flex flex-col p-4">
  <!-- Menu Item 1 -->
  <a
    href="/admin_dashboard"
    class="menu-item flex flex-col items-center space-y-2 py-4 hover:bg-gray-700 rounded-md"
  >
    <div class="icon w-8 h-8">
      <img
        src="{{ url_for('static', filename='images/administrator/icon_admin.svg') }}"
        alt="Admin Icon"
        class="w-full h-full object-contain"
      />
    </div>

    <div class="text text-lg font-semibold">Trang chủ</div>
  </a>

  <!-- Menu Item 2 -->
  <a
    href="/admin_manage_field"
    class="menu-item flex flex-col items-center space-y-2 py-4 hover:bg-gray-700 rounded-md"
  >
    <div class="icon w-8 h-8">
      <img
        src="{{ url_for('static', filename='images/administrator/icon_field.png') }}"
        alt="Field Icon"
        class="w-full h-full object-contain"
      />
    </div>
    <div class="text text-lg font-semibold">Quản lý sân bóng</div>
  </a>

  <!-- Menu Item 3 -->
  <a
    href="/admin_manage_user"
    class="menu-item flex flex-col items-center space-y-2 py-4 hover:bg-gray-700 rounded-md"
  >
    <div class="icon w-8 h-8">
      <img
        src="{{ url_for('static', filename='images/administrator/icon_user.svg') }}"
        alt="User Icon"
        class="w-full h-full object-contain"
      />
    </div>
    <div class="text text-lg font-semibold">Quản lý người dùng</div>
  </a>

  <!-- Menu Item 4 -->
  <a
    href="/statistics"
    class="menu-item flex flex-col items-center space-y-2 py-4 hover:bg-gray-700 rounded-md"
  >
    <div class="icon w-8 h-8">
      <img
        src="{{ url_for('static', filename='images/administrator/icon_statistic.svg') }}"
        alt="Statistic Icon"
        class="w-full h-full object-contain"
      />
    </div>
    <div class="text text-lg font-semibold">Thống kê</div>
  </a>

  <!-- Menu Item 5 -->
  <a
    href="/check_field"
    class="menu-item flex flex-col items-center space-y-2 py-4 hover:bg-gray-700 rounded-md"
  >
    <div class="icon w-8 h-8">
      <img
        src="{{ url_for('static', filename='images/administrator/icon_history.svg') }}"
        alt="History Icon"
        class="w-full h-full object-contain"
      />
    </div>
    <div class="text text-lg font-semibold">Lịch sử giao dịch</div>
  </a>
</div>
